<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Cropper: Image Labeling</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
        }
        .controls {
            margin-top: 20px;
        }
        #image-container {
            position: relative;
            margin-top: 20px;
            height: 256px;
            width: 256px;
        }
        #image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        #crop-square {
            position: absolute;
            border: 2px dashed #ff0000;
            box-sizing: border-box;
            cursor: move;
            width: 100px; /* Initial size */
            height: 100px;
            max-width: 256px;
            max-height: 256px;
        }
    </style>
</head>
<body>
    <h1>ML Cropper: Image Labeling</h1>
    <div id="image-info">
        <span id="current-index">1</span> / <span id="total-images">{{ total_images }}</span>
    </div>

    <div class="controls">
        <button onclick="prevImage()">Previous</button>
        <button onclick="nextImage()">Next</button>
        <button onclick="prevLabeledImage()">Previous Labeled</button>
        <button onclick="nextLabeledImage()">Next Labeled</button>
        <button onclick="getRandomImage()">Random</button>
        <button onclick="saveLabel()">Save Label</button>
        <button onclick="getCropPrediction()">Predict Crop</button>
    </div>

    <div id="image-container">
        <img id="image" src="" alt="Image to be labeled">
        <div id="crop-square"></div>
    </div>

    <div class="controls">
        <label for="crop-size">Crop Square Size: </label>
        <input type="range" id="crop-size" min="50" max="256" value="100" oninput="resizecrop_square()">
    </div>

    <script>

        let current_index = 1;

        const total_images = {{ total_images }};

        let crop_data = {
            x1: 0,
            x2: 0,
            y1: 100,
            y2: 100
        };

        let crop_size = 100

        const crop_square = document.getElementById('crop-square');
        let isDragging = false;
        let startX, startY;

        crop_square.addEventListener('mousedown', (e) => {
            isDragging = true;
            startX = e.clientX - crop_square.offsetLeft;
            startY = e.clientY - crop_square.offsetTop;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                let x = e.clientX - startX;
                let y = e.clientY - startY;

                // Ensure the crop square stays within the image container
                const containerRect = document.getElementById('image-container').getBoundingClientRect();
                const squareRect = crop_square.getBoundingClientRect();

                if (x < 0) x = 0;
                if (y < 0) y = 0;
                if (x + squareRect.width > containerRect.width) x = containerRect.width - squareRect.width;
                if (y + squareRect.height > containerRect.height) y = containerRect.height - squareRect.height;

                crop_square.style.left = x + 'px';
                crop_square.style.top = y + 'px';

                crop_data.x1 = x
                crop_data.y1 = y

                crop_data.x2 = x + crop_size;
                crop_data.y2 = y + crop_size;
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });

        function resizecrop_square() {
            crop_size_str = document.getElementById('crop-size').value;
            crop_size = parseInt(crop_size_str)
            crop_square.style.width = crop_size + 'px';
            crop_square.style.height = crop_size + 'px';
            crop_data.x2 = crop_data.x1 + crop_size;
            crop_data.y2 = crop_data.y1 + crop_size;
        }

        window.onload = function() {
            fetchImageByIndex(current_index);
        };

        function fetchImageByIndex(index) {
            const imageUrl = `/image/${index}`;
            document.getElementById('image').src = imageUrl;
            document.getElementById('current-index').innerText = index;
        }

        function nextImage() {
            current_index = (current_index + 1) % total_images;
            fetchImageByIndex(current_index);
        }

        function prevImage() {
            current_index = (current_index - 1 + total_images) % total_images;
            fetchImageByIndex(current_index);
        }

        function nextLabeledImage() {
            fetch(`/next_labeled_image/${current_index}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    current_index = data.index;
                    fetchImageByIndex(current_index);
                })
                .catch(error => {
                    console.error('Error fetching next labeled image:', error);
                });
        }

        function prevLabeledImage() {
            fetch(`/prev_labeled_image/${current_index}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    current_index = data.index;
                    fetchImageByIndex(current_index);
                })
                .catch(error => {
                    console.error('Error fetching previous labeled image:', error);
                });
        }

        function getRandomImage() {
            random_index = Math.floor(Math.random() * total_images);
            current_index = random_index;
            fetchImageByIndex(random_index);
        }

        function getCropPrediction() {
            fetch(`/predict_crop/${current_index}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    crop_square.style.left = data.x + 'px';
                    crop_square.style.top = data.y + 'px';
                    crop_square.style.width = data.d + 'px';
                    crop_square.style.height = data.d + 'px';

                    crop_data.x = x;
                    crop_data.y = y;
                    crop_data.delta = d;
                })
                .catch(error => {
                    console.error('Error fetching crop prediction:', error);
                });
        }

        function saveLabel() {

            fetch('/label', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    'id': current_index,
                    'x1': crop_data.x1,
                    'x2': crop_data.x2,
                    'y1': crop_data.y1,
                    'y2': crop_data.y2
                })
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Label saved!');
                } else {
                    alert('Failed to save label.');
                }
            }).catch(error => {
                console.error('Error saving label:', error);
                alert('Error saving label. See console for details.');
            });
        }

    </script>
</body>
</html>
