<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IML Cropper GUI</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
        }
        .controls {
            margin-top: 20px;
        }
        #image-container {
            position: relative;
            margin-top: 20px;
            height: "D:\Datasets\bbbo"px;
            width: 512px;
            height: 512px;
        }
        #image {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border: 1px solid black;
        }
        #crop-square {
            position: absolute;
            border: 2px dashed #ff0000;
            box-sizing: border-box;
            cursor: move;
            width: 256px;
            height: 256px;
            max-width: 512px;
            max-height: 512px;
        }
        .main-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .control-container {
            padding: 16px;
        }
    </style>
</head>
<body>
    <h1>IML Cropper GUI</h1>

    <div class="main-container">

        <div class="control-container">

            <div>
                <p>Current Index: <span id="current-index">1</span> / {{ total_images }}</p>
                <p>Total Labeled: <span id="total-labels">{{ total_labels }}</span></p>  
            </div>

            <div class="nav-container">
                <h3>Navigation</h3>
                <button onclick="prevImage()">Previous</button>
                <button onclick="nextImage()">Next</button>
                <button onclick="getRandomImage()">Random</button>
            </div>

            <div class="labeled-container">
                <h3>Labeled Images</h3>
                <label for="step">Step.</label>
                <br>
                <label><input type="radio" name="step" value="false" onclick="updateStep(false)"> NEG(-)</label>
                <label><input type="radio" name="step" value="true" checked onclick="updateStep(true)"> POS(+)</label>
                <button onclick="nextLabeledImage()">Next</button>
            </div>

            <div class="action-container">
                <h3>Action</h3>    
                <button onclick="saveLabel()">Save Label</button>
                <button onclick="getCropPrediction()">Predict Crop</button>
            </div>

            <div class="size-container">
                <label for="crop-size">Size.</label>
                <br>
                <input type="range" id="crop-size" min="100" max="512" value="256" oninput="resize_crop()">

            </div>

            <div class="ratio-container">
                <label for="ratio">Ratio.</label>
                <br>
                <label><input type="radio" name="ratio" value="false" onclick="update_ratio(2,3)"> 2:3</label>
                <label><input type="radio" name="ratio" value="true" checked onclick="update_ratio(1,1)"> 1:1</label>
                <label><input type="radio" name="ratio" value="false" onclick="update_ratio(3,2)"> 3:2</label>
            </div>

            <div class="model-container">
                <h3>Model</h3>
                <select id="model-select">
                    <option value="" disabled selected>Select a model</option>
                </select>
                <button onclick="load_model()">Load Model</button>
                <p>Current Model: <span id="current-model">None</span></p>
            </div>            

        </div>

        <div id="image-container">
            <img id="image" src="" alt="Image to be labeled">
            <div id="crop-square"></div>
        </div>

    </div>

    <script>

        let current_index = 1;
        let next_labeled_image_step = true;

        const total_images = {{ total_images }};
        let total_labels = {{ total_labels }};

        let models = {{ models|tojson }};
        // const is_model_loaded = {{ is_model_loaded }};
        // let current_label = {{ current_label }};

        let crop_width = 256
        let crop_width_ratio = 1
        let crop_height_ratio = 1
        
        const crop_square = document.getElementById('crop-square');
        let isDragging = false;
        let startX, startY;

        crop_square.addEventListener('mousedown', (e) => {
            isDragging = true;
            startX = e.clientX - crop_square.offsetLeft;
            startY = e.clientY - crop_square.offsetTop;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                let x = e.clientX - startX;
                let y = e.clientY - startY;
                const containerRect = document.getElementById('image-container').getBoundingClientRect();
                const squareRect = crop_square.getBoundingClientRect();
                if (x < 0) x = 0;
                if (y < 0) y = 0;
                if (x + squareRect.width > containerRect.width) x = containerRect.width - squareRect.width;
                if (y + squareRect.height > containerRect.height) y = containerRect.height - squareRect.height;
                crop_square.style.left = x + 'px';
                crop_square.style.top = y + 'px';
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });

        function resize_crop() {
            crop_size_str = document.getElementById('crop-size').value;
            crop_width = parseInt(crop_size_str);
            let crop_height = crop_width * (crop_height_ratio / crop_width_ratio);
            crop_square.style.width = crop_width + 'px';
            crop_square.style.height = crop_height + 'px';
        }

        function update_ratio(width, height) {
            crop_width_ratio = width
            crop_height_ratio = height
            resize_crop()
        }

        function drawCropSquare(x1, y1, x2, y2) {
            crop_square.style.left = `${x1}px`;
            crop_square.style.top = `${y1}px`;
            crop_square.style.width = `${x2 - x1}px`;
            crop_square.style.height = `${y2 - y1}px`;
        }

        window.onload = function() {
            fetchImageByIndex(current_index);
            drawCropSquare(128,128,256,256);
            const modelSelect = document.getElementById('model-select');
            models.forEach(model => {
                const option = document.createElement('option');
                option.value = model;
                option.textContent = model;
                modelSelect.appendChild(option);
            });

            // If models has values, use the latest as the current model
            if (models.length > 0) {
                const latestModel = models[models.length - 1];
                document.getElementById('current-model').textContent = latestModel;
            }
        };

        function fetchImageByIndex(index) {
            const imageUrl = `/image/${index}`;
            document.getElementById('image').src = imageUrl;
            document.getElementById('current-index').innerText = index;
        }

        function nextImage() {
            current_index = (current_index + 1) % total_images;
            fetchImageByIndex(current_index);
        }

        function prevImage() {
            current_index = (current_index - 1 + total_images) % total_images;
            fetchImageByIndex(current_index);
        }

        function nextLabeledImage() {
            fetch('/next_labeled_image', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    'id': current_index,
                    'step': next_labeled_image_step
                })
            }).then(response => response.json())
            .then(data => {
                current_index = parseInt(data.img_id);
                fetchImageByIndex(current_index);
            }).catch(error => {
                console.error(error);
            });
        }

        function getRandomImage() {
            random_index = Math.floor(Math.random() * total_images);
            current_index = random_index;
            fetchImageByIndex(random_index);
        }

        function updateStep(step) {
            next_labeled_image_step = step;
        }

        function getCropPrediction() {
            fetch(`/predict_crop/${current_index}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    let prediction = data.prediction;

                    drawCropSquare(
                        prediction[0] * 512,
                        prediction[1] * 512,
                        prediction[2] * 512,
                        prediction[3] * 512
                    );
                })
                .catch(error => {
                    console.error('Error fetching crop prediction:', error);
                });
        }

        function saveLabel() {
            const x1 = parseFloat(crop_square.style.left);
            const y1 = parseFloat(crop_square.style.top);
            const w = parseFloat(crop_square.style.width);
            const h = parseFloat(crop_square.style.height);

            fetch('/label', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    'id': current_index,
                    'x1': x1 / 512,
                    'y1': y1 / 512,
                    'x2': (x1 + w) / 512,
                    'y2': (y1 + h) / 512,
                })
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    total_labels += 1
                    document.getElementById('total-labels').innerText = total_labels;
                    alert('Label saved!');
                } else {
                    alert('Failed to save label.');
                }
            }).catch(error => {
                console.error('Error saving label:', error);
                alert('Error saving label. See console for details.');
            });
        }

        function load_model() {
            const model_name = document.getElementById('model-select').value;
            fetch(`/load_model/${model_name}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Model ${model_name} loaded successfully`, data);
                    document.getElementById('current-model').textContent = model_name;
                })
                .catch(error => {
                    console.error('There was a problem loading the model:', error);
                    alert('Failed to load model: ' + model_name);
                });
        }

    </script>
</body>
</html>
